// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';


// Bootstrap
@import 'bootstrap/scss/bootstrap';




*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // font-family: 'Roboto', sans-serif;
    // font-size: 18px;
}
.navbar{
    .navbar-brand{
        font-weight: bold;
        color: $primary;
    }
    .nav-link{
        font-weight: 600;
        color: #000;
        font-size: 14px;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

}
#background{
    background: url("../img/background.jpg");
    width:auto;
    background-size: inherit;
    background-repeat: no-repeat;
    .container{
        background-color: #ffff;
        opacity: 0.9;
        border-radius: 10px;
    }
}

#intro{
    background-color: #e6f1ff;
    .left{
        border-right: 3px solid black;
    }
}


section{
    border-bottom: 1px solid rgba(206, 206, 206, 0.87) -100px;
    // padding: 0 10px;
}


footer{

}


